
/*--------------------------------------Common---------------------------------- */
:root{
    --primaryColor:#06C167;
    --secondaryColor: #F3FCF7;
    --primaryFont:'Inter', sans-serif;

}

.container{
   margin: 0 275px;

}
body{
    font-family:var(--primaryFont);
}
.btn{
    border-style: none;
    height: 68px;
    width: 200px;
    background-color: var(--primaryColor);
    color: #F3FCF7;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 131px;
} 


/*--------------------------------------Header---------------------------------- */
.header-area{
    background-color: var(--secondaryColor);
  
    
}
.header{
  display: flex;
   justify-content: space-between;
}
.logo__item{
    font-size:32px;
    font-weight: 500;
    color: var(--primaryColor);
}
/*--------------------------------------Navigation---------------------------------- */
.manu{
    display: flex;
    flex-wrap: wrap;
    
    
}
.nav{
    list-style: none;
     padding: 20px 15px;
     margin-right: 25px;


     
}

.nav__item__link{
    text-decoration: none;
    display: inline-block;
    color: #000000;
   
    
}
.nav__item__link:hover{

    color: var(--primaryColor);
}
/*--------------------------------------Responsive---------------------------------- */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 766px) {


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}

/*--------------------------------------Hero-Area---------------------------------- */
.hero{
    display: flex;
    position: relative;
}

.hero__heading{
    font-size: 76px;
    
}
.hero__text{
margin-top: -40px;
height:45px;
width:530px;
}

.fa-solid{
    font-size: 20px;
    
}

/*--------------------------------------Hero-Right-box---------------------------------- */
.hero__rightText {
    background-image: url(../img/hero.jpg);
    height: 634px;
    width: 468px;
  
    margin-right: 150px;
    position: absolute;
    right: 0;

}
.hero__rightText__boxs{
   
    display: flex;
    justify-content:space-between;
    margin: 64% 0;
    padding:0 2px;
    
}

.hero__ritghtText__box1{
    
    display: flex;
    margin-left: -95px;
    background-color: #fff;
    border-radius: 26px;
    padding: 0 15px;
}


.hero__rightText__box1__ul{
    margin-left:-24px;
}
.star i{
    font-size: 15px;
    color: var(--primaryColor);
    
}


.hero__rightText__box2{
    display: flex;
    right: -44px;
    top: 205px;
    background-color: #fff;
    border-radius: 26px;
    padding: 0px 4px;
    position: absolute;
    box-shadow: 4px 6px 18px #888888;
}
.hero__rightText__box2__img{
    height:40px;
    width: 40px;
    padding-top: 6px;


}
.hero__rightText__box2__txt{
    padding: 0 12px;
}
.hero__rightText__dimg{
    position: absolute;
    right: -26px;
    bottom: -27px;
}
/*--------------------------------------Hero-Area-barad---------------------------------- */
.hero__bnd{
    display:flex;
    gap: 50px;
    
}
.hero__bnd__item{
    margin-right: 60px;
    padding:40px 0;
    
}

/*--------------------------------------Features--------------------------------- */

.feature-area{
    margin: 115px 0;
    
}
.feature{
    display: flex; 
    justify-content: space-between;
    padding: 45px 0;
    border-top:1.5px  solid #C0C0C0;
    border-bottom:1.5px  solid #C0C0C0;



}
.feature__item{
    display: flex;
}
.feature__item__icn{
    background-color: var(--secondaryColor);
    height:70px;
    width:70px;
    border-radius: 15px;
}
.feature__item__icn__img{
    padding:21px;
}
.feature__item__txt{
    display: inline-block;
    margin-left: 20px;
    font-family: var(--primaryFont);
}
.feature__item__txt__head{
    margin-bottom: 0;
    padding: 0 2px;
    font-size: 18px;
    margin-top: 12px;
    font-weight:400;
    
    

}
.feature__item__txt__pra{
    display: inline-block;
    text-align: center;
    font-size: 13px;
    margin: 4px;
    color:#565657;
    ;
}

/*--------------------------------------Health Tips--------------------------------- */

.healthTips-area{
    margin: 125px 0;
}
.health{
    display: flex;
    /* justify-content:space-between; */
     gap: 80px; */

}
.health__item__box{
    background-color:var(--secondaryColor);
    padding: 0 2.5rem 4rem 2.5rem;
    margin:0 0;
    box-sizing: border-box;
    
}
.health__item__box__img{
    padding: 0 10px;
    box-sizing: border-box;
}
.health__item__box1{
    margin:100px 15px;;
}
.health__item__pra{
    font-size:15px;

}
.health__item__head__img{
    position: relative;
    margin-left:-35px;
}
.health__item__head{
        position: absolute;
        display: inline-block;
        margin: 0 0 0 -140px;
        font-size: 60px;
}

.health__item__list{
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    
}
.health__item__list__icn{
    line-height: 30px;
    font-size:16px;

}
.check i{
    color: var(--primaryColor);
    font-size: 20px;
    font-weight: 800;
}
/*--------------------------------------Benifits--------------------------------- */
/* .benifit-area{
    border: 1px solid black;
} */
.benifit{
    display:flex;
    gap:80px;
}
/* .benifit__item{
    
} */
.benifit__item__box{
    padding-top: 80px;
}
.benifit__item__head__box{
    margin: 10px 0;
}
.benifit__item__box__pra{
    font-size: 15px;
    
}
.benifit__item__box__img{
    position: absolute;
/* margin-bottom: 10px; */
    
    
}
.benifit__item__head{
        position: relative;
        display: inline-block;
        margin:0 0 0 0;
        font-size: 60px;
        
        
}
.benifit__item__box__feeds{
    padding-top:10px;
    display:flex;
    justify-content:space-between;
}
.benifit__item__box_feed{
    
}
.benifit__item__box__feed__num{
    font-size: 40px;
    color: var(--primaryColor);
    margin-bottom: 0;
}
.benifit__item__box__feed__pera{
    font-size: 15px;
    color: #565657;
    margin-top: 0;
    padding:10px 0;
}
.benifit__item__box1{
    background-color:var(--secondaryColor);
    padding: 0 0rem 5.5rem 5.5rem;
    margin:0 0;
    box-sizing: border-box;
}
/*--------------------------------------OurFeature--------------------------------- */
.ourfeatures-area{
   margin:115px 0;
}
.ourfeature__item__boxs{
    background-color:var(--secondaryColor);
}
.ourfeature__item__head{
    text-align:center;
    margin-bottom: 65px;
   
    
}
.ourfeature__item__head__pra{
    font-size: 15px;
    padding: 10px 0;
}
.ourfeature__item__head__heading{
    font-size:60px;
    margin-top:0;
}
.ourfeature__item__box{
        display: flex;
    
}
.ourfeature__item__box > *{
    flex: 1;
}
.ourfeature__item__box__con__img{
    height:100%;
    width:100%;
}
.ourfeature__item__box__con__txt{
    padding: 25px 35px;
}
.ourfeature__item__box__con__txt__head{
    font-size: 32px;
}
.ourfeature__item__box__con__txt_pra{
    font-size: 16px;
}
.ourfeature__item__box__con__txt__btn{
    border: none;
    background-color: #E6F9F0;
    height:42px;
    width:148px;
    font-size:15px;
    color:var(--primaryColor);
    margin-top:15px;
}
.f-icn{
    font-size: 15px;    
}
.ourfeature__item__box1{
    display: flex;
}
.ourfeature__item__box1 > *{
    flex: 1;
}
.img-2nd{
    order:2;
}
.img-4th{
    order:4;
}
/*--------------------------------------Product--------------------------------- */
.product-area{
    margin: 115px 0;
}

.product__item__head__pra{
    font-size:15px;
}
.product__item__head__heading{
    font-size:60px;
    margin-top:0;
}
.product__item__cons{
    display: flex;
    justify-content:space-between;
    padding:15px 0;

    
}
.product__item__con{
    border: 2px solid rgba(118, 118, 117, 0.25);
    text-align: center;
    padding:15px 0;
   
   
}
.product__item__con__img{
    padding: 0 45px 0 45px;
}
.product__item__con__list{
    margin-top: 0;
    padding-left: 0;
    
}
.product__item__con__heading{
    font-size: 20px;
}
.product__item__con__prices{
    color: var(--primaryColor);
    font-size: 20px;
}
.product__item__con__price{
    color:#767675;
    text-decoration: line-through;
    font-size: 20px;

}
.product__item__btn{
    background-color: #fff;
    color: var(--primaryColor);
    border:2px solid var(--primaryColor);
    margin-bottom:20px;
    
}
.product-active{
    border: 2px solid #06C167;
}
/*--------------------------------------Banner--------------------------------- */
.banner-area{
    margin: 115px 0;
}
.banner{
 border: 1px solid black;
 text-align: center;
 background-image: url(../img/banner.png);
 color:#fff;
 
}
.banner__item__head{
    font-size: 60px;
    padding: 50px 220px;
    display: inline-block;
    margin: 15px 0;
}
.banner__item__btn{
    margin-bottom: 65px;
}
/*--------------------------------------Footer--------------------------------- */
.footer{
    display: flex;
    gap:135px;
}
/* .footer__item__pra{
    padding-right: 0;

} */
.footer__item__box{
   
    margin-right:120px;
}
.footer__item__head{
    /* font-size:24px; */
    margin: 19.92px 0;
}
.footer__item__list{
    display:flex;
    gap:25px;
    padding-left: 0;
}
.footer__item__pra{
    margin: 40px 0;

}
.footer__item__list__icn{
    list-style-type:none;
}
.footer__item__lists{
    list-style:none;
    padding-left: 0;
   margin: 41px 0;
   line-height: 34px;
}
input{
    background-color: #F0F1EC;;
  
    Width :157px;
    Height :50px;
    border:none;
    padding:0 24px;
}
.footer__item__btn{
    width:118px;
    height:50px;
    background-color: var(--primaryColor);
    border: none;
    color: #fff;
}
.copy{
    text-align: center;
    margin:50px 0;
}